<h2 class="inline-block"><%= t("admin.editors.index.title") %></h2>

<%= render "admin/shared/user_search", url: search_admin_editors_path %>

<div id="editors">
  <% if @editors.any? %>
    <h3 class="margin"><%= page_entries_info @editors %></h3>

    <table>
      <thead>
        <th scope="col"><%= t("admin.editors.index.name") %></th>
        <th scope="col" class="small-2"><%= t("admin.editors.index.email") %></th>
        <th scope="col" class="small-3"><%= t("admin.editors.index.processes") %></th>
        <th scope="col" class="small-2"><%= t("admin.shared.actions") %></th>
      </thead>
      <tbody>
        <% @editors.each do |editor| %>
          <tr>
            <td>
              <%= editor.name %>
            </td>
            <td>
              <%= editor.email %>
            </td>
            <td>
              <ul>
                <% editor.legislation_processes.each do |legislation_process| %>
                  <li><%= link_to "#{t("admin.editors.index.legislation_process")} - #{legislation_process.id}", legislation_process_path(legislation_process) %></li>
                <% end %>
                <% editor.polls.each do |poll| %>
                  <li><%= link_to "#{t("admin.editors.index.poll")} - #{poll.id}", poll_path(poll) %></li>
                <% end %>
              </ul>
            </td>
            <td>
              <% if editor.persisted? %>
                <%= link_to t("admin.editors.editor.delete"),
                            admin_editor_path(editor),
                            method: :delete,
                            class: "button hollow alert expanded"
                %>
              <% else %>
                <%= link_to t("admin.editors.editor.add"),
                            { controller: "admin/editors", action: :create,
                              user_id: editor.user_id },
                              method: :post,
                              class: "button success expanded" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @editors %>
  <% else %>
    <div class="callout primary">
      <%= t("admin.editors.index.no_editors") %>
    </div>
  <% end %>
</div>
