<h2><%= t("admin.editors.search.title") %></h2>

<%= render "admin/shared/user_search", url: search_admin_editors_path %>

<div id="editors">
  <% if @users.any? %>
    <h3 class="margin"><%= page_entries_info @users %></h3>

    <table id="editors">
      <thead>
        <th scope="col"><%= t("admin.editors.index.name") %></th>
        <th scope="col" class="small-6"><%= t("admin.editors.index.email") %></th>
        <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.editor? && user.editor.persisted? %>
              <%= link_to t("admin.editors.editor.delete"),
                          admin_editor_path(user),
                          method: :delete,
                          class: "button hollow alert expanded" %>
            <% else %>
              <%= link_to t("admin.editors.editor.add"),
                          { controller: "admin/editors",
                            action: :create,
                            user_id: user },
                          method: :post,
                          class: "button success expanded" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="callout alert margin">
      <%= t("admin.shared.no_search_results") %>
    </div>
  <% end %>
</div>
