<%= render "/admin/poll/polls/poll_header" %>

<div id="poll-resources">
  <%= render "/admin/poll/polls/subnav" %>

  <h2 class="inline-block"><%= t("admin.electoral_colleges.index.title") %></h2>

  <% unless @electoral_college %>
    <%= link_to t("admin.electoral_colleges.index.create"),
      new_admin_poll_electoral_college_path(@poll),
      class: "button float-right"
    %>
  <% end %>

  <% if @electoral_college %>      
    <table class="fixed">
      <tbody>
        <tr id="<%= dom_id(@electoral_college) %>">
          <td><%= @electoral_college.title %></td>
          <td>
            <div class="small-6 column">
              <%= link_to t("shared.edit"), edit_admin_poll_electoral_college_path(@poll, @electoral_college), class: "button hollow expanded" %>
            </div>
            <div class="small-6 column">
              <%= link_to t("shared.delete"), admin_poll_electoral_college_path(@poll, @electoral_college), class: "button hollow alert expanded", method: :delete %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 class="inline-block"><%= t("admin.electoral_colleges.elector.title") %></h3>

    <%= link_to t("admin.electoral_colleges.index.elector"),
      new_admin_poll_electoral_college_elector_path(@poll, @electoral_college),
      class: "button float-right hollow" %>

    <%#= link_to t("admin.electoral_colleges.index.import"),
      new_admin_poll_electoral_colleges_import_path(@poll),
      class: "button float-right hollow" %>

    <div>
      <%= render "electors" %>
    </div>

  <% end %>
</div>
