<% if stats.resource.statiscable? %>
  <div id="participants_by_geozone" class="stats-group">
    <h4><%= t("stats.by_geozone") %></h4>

    <%= image_tag('sp_flag.png', width: 100, height: 70, class: 'stats-flag') %>
    <%= number_with_info_tags(
    stats.total_residents_participants,
    "#{number_to_stats_percentage(stats.resident_percentage)} de São Paulo/SP",
    html_class: "participants"
    ) %>
    <%= image_tag('br_flag.png', width: 100, height: 70, class: 'stats-flag') %>
    <%= number_with_info_tags(
    stats.total_non_residents_participants,
    "#{number_to_stats_percentage(stats.non_resident_percentage)} fora de São Paulo/SP",
    html_class: "participants"
    ) %>
    
    <table>
      <thead>
        <tr>
          <th>Subprefeitura</th>
          <th><%= t("stats.total") %></th>
        </tr>
      </thead>

      <tbody>
        <% stats.participants_by_sub.each do |geozone, stats| %>
          <tr>
            <td><%= geozone %></td>
            <td><%= "#{stats[:count]} (#{number_to_stats_percentage(stats[:percentage])})" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Distrito</th>
          <th>Subprefeitura</th>
          <th><%= t("stats.total") %></th>
        </tr>
      </thead>

      <tbody>
        <% stats.participants_by_district.each do |geozone, stats| %>
          <tr>
            <td><%= geozone %></td>
            <td><%= stats[:sub] %></td>
            <td><%= "#{stats[:count]} (#{number_to_stats_percentage(stats[:percentage])})" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>