<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.open_gov") %> %>
<% end %>

<div>

  <%= back_link_to(
    admin_open_gov_plan_commitment_path(@plan, @commitment), t("shared.back")
  ) %>

  <h2><%= t("admin.open_gov.index.title") %></h2>

  <%= render "/admin/open_gov/subnav", active: "monitoring" %>

  <h2>
    <%= t("admin.open_gov.marks.new.title") %>
  </h2>

  <%= render "form", url: admin_open_gov_plan_commitment_marks_path(@plan, open_gov_commitment_id: @commitment)%>
</div>
