<div class="small-12 medium-9 column">
  <div class="debate-list">
    <% if process.questions.empty? %>
      <div class="callout warning">
        <p><%= t("legislation.processes.debate.empty_questions") %></p>
      </div>
    <% else %>
      <%= render process.questions %>
    <% end %>
  </div>
</div>

<div class="small-12 medium-3 column">
  <% if process.debate_phase.finished? && process.questions.any? %>
    <p class="no-margin-bottom text-center small">
      <%= sanitize(t(
        "legislation.questions.index.result_spreadsheet",
        answers_link: link_to(
          t("legislation.questions.index.answers_link"),
          debate_legislation_process_path(
            @process, legislation_csv_params.merge(type: "answers")
          )
        ),
        comments_link: link_to(
          t("legislation.questions.index.comments_link"),
          debate_legislation_process_path(
            @process, legislation_csv_params.merge(type: "comments")
          )
        )
      )) %>
    </p>
  <% end %>
  <% if process.debate_phase.open? && process.questions.any? %>
    <div class="callout success">
      <p><%= t("legislation.processes.debate.participate") %></p>
    </div>
  <% elsif !process.debate_phase.open? %>
    <div class="callout warning">
      <p><%= t("legislation.processes.debate.phase_not_open") %></p>
    </div>
  <% end %>
</div>
