<div class="small-12 medium-9 column">
  <div class="debate-list">
    <% if process.questions.empty? %>
      <div class="callout warning">
        <p><%= t("legislation.processes.debate.empty_questions") %></p>
      </div>
    <% else %>
      <%= render process.questions %>
    <% end %>
  </div>
</div>

<div class="small-12 medium-3 column">
  <% if process.debate_phase.open? && process.questions.any? %>
    <div class="callout success">
      <p><%= t("legislation.processes.debate.participate") %></p>
    </div>
  <% elsif !process.debate_phase.open? && process.questions.any? %>
    <div class="callout warning">
      <p><%= t("legislation.processes.debate.phase_not_open") %></p>
    </div>
  <% end %>
  <% if process.debate_phase.finished? && process.questions.any? %>
    <ul class="small">
      <li>
        <%= link_to t("legislation.questions.index.answers_spreedsheet"),
          debate_legislation_process_path(@process, answers_debate_csv_params)
        %>
      </li>
      <li>
        <%= link_to t("legislation.questions.index.comments_spreedsheet"),
          debate_legislation_process_path(@process, comments_debate_csv_params)
        %>
      </li>
    </ul>
  <% end %>
</div>
