<div class="row">
  <div class="debate-chooser">
    <div class="row">
      <div class="small-12 medium-9 column">
        <div class="legislation-proposals">
          <%= render "shared/filter_subnav", i18n_namespace: "legislation.processes.proposals" %>
          <% if proposals.selected.empty? && params[:filter] == "winners" %>
            <div class="callout warning">
              <p><%= t("legislation.processes.proposals.empty_selected_proposals") %></p>
            </div>
          <% elsif !(process.proposals_phase.open? || process.draft_phase.open?) && proposals.empty? %>
            <div class="callout warning">
              <p><%= t("legislation.processes.proposals.not_open") %></p>
            </div>
          <% elsif proposals.empty? %>
            <div class="callout warning">
              <p><%= t("legislation.processes.proposals.empty_proposals") %></p>
            </div>
          <% else %>
            <%= render proposals %>
            <%= paginate proposals %>
          <% end %>
        </div>
      </div>

      <div class="small-12 medium-3 column">
        <% if process.proposals_phase.open? || process.draft_phase.open? %>
          <p><%= link_to new_legislation_proposal_link_text(process),
                         new_legislation_process_proposal_path(process),
                         class: "button expanded",
                         id: "create-new-proposal" %></p>
        <% elsif proposals.present? %>
          <div class="inline-block">
            <p class="download-link small">
              <%= sanitize(t(
                "legislation.processes.proposals.spreedsheet",
                answers_link: link_to(
                  t("legislation.processes.proposals.proposals_spreedsheet"),
                  proposals_legislation_process_path(@process, proposals_csv_params)
                ),
                comments_link: link_to(
                  t("legislation.processes.proposals.comments_spreedsheet"),
                  proposals_legislation_process_path(@process, proposal_comments_csv_params)
                ),
                count: proposals.count
              )) %>
            </p>
          </div>
        <% end %>

        <%= render "legislation/proposals/categories", taggable: process %>
      </div>
    </div>
  </div>
</div>
