<% provide :title do %><%= @process.title %><% end %>

<%= render "legislation/processes/header", process: @process, header: :full %>

<%= render "documents/additional_documents", process: @process %>

<%= render "legislation/processes/key_dates", process: @process, phase: @phase %>

<div class="debate-chooser">
  <div class="row">
    <div class="small-12 column">
      <div class="callout warning">
        <p><%= t(".not_open") %></p>
      </div>
    </div>
  </div>
</div>
