<% provide :title do %><%= @process.title %><% end %>

<%= render "legislation/processes/header", process: @process, header: :full %>

<%= render "documents/additional_documents", process: @process %>

<%= render "key_dates", process: @process, phase: :topics_phase %>

<div class="row">
  <div class="topic-chooser">
    <div class="row">
      <%= render "legislation/processes/topics", process: @process %>
    </div>
  </div>
</div>
