<%= render "/edition/poll/polls/poll_header" %>

<div id="poll-resources">
  <%= render "/edition/poll/polls/subnav" %>

  <h2 class="inline-block"><%= t("admin.electoral_colleges.index.title") %></h2>

  <% unless @electoral_college %>
    <%= link_to t("admin.electoral_colleges.index.create"),
      new_edition_poll_electoral_college_path(@poll),
      class: "button float-right"
    %>
  <% end %>

  <% if @electoral_college %>
    <table class="fixed">
      <tbody>
        <tr id="<%= dom_id(@electoral_college) %>">
          <td><%= @electoral_college.title %></td>
          <td>
            <% if @electoral_college.active %>
              <%= t("admin.electoral_colleges.index.active") %>
            <% else %>
              <%= t("admin.electoral_colleges.index.inactive") %>
            <% end %>
          </td>
          <td>
            <p class="text-center no-margin-bottom">
              <%= link_to t("shared.edit"),
                edit_edition_poll_electoral_college_path(@poll, @electoral_college),
                class: "button hollow"
              %>
              <%= link_to t("shared.delete"),
                edition_poll_electoral_college_path(@poll, @electoral_college),
                class: "button hollow alert", method: :delete
              %>
            </p>
          </td>
        </tr>
      </tbody>
    </table>

    <h3 class="inline-block"><%= t("admin.electoral_colleges.elector.title") %></h3>

    <% if @electoral_college.active %>
      <%= link_to t("admin.electoral_colleges.index.elector"),
      new_edition_poll_electoral_college_elector_path(@poll, @electoral_college),
      class: "button float-right hollow" %>

      <%= link_to t("admin.electoral_colleges.index.import"),
        new_edition_poll_electoral_college_electors_import_path(@poll, @electoral_college),
        class: "button float-right hollow" %>
    <% end %>

    <%= render "/edition/poll/electoral_colleges/electors/search_electors" %>

    <div>
      <%= render "electors" %>
    </div>

  <% end %>
</div>
