<%= form_for(
  @import,
  url: admin_poll_electoral_college_electors_imports_path(@poll, @electoral_college)
) do |f| %>
  <%= render "shared/errors", resource: @import %>

  <%= f.file_field :file %>

  <p class="small"><%= t("admin.poll_electors.imports.new.load_info") %></p>

  <div class="small-12 medium-4 large-2 margin-top">
    <%= f.submit(class: "button success expanded", value: t("shared.save")) %>
  </div>
<% end %>
