<% provide :title do %><%= @process.title %><% end %>

<%= render "legislation/processes/header", process: @process, header: :full %>

<%= render "documents/additional_documents", process: @process %>

<%= render "legislation/processes/key_dates", process: @process, phase: :topics_phase %>

<div class="row column">
  <div class="small-12 medium-6 column topics-header">
    <h3><%= t("legislation.processes.topics.comments_title") %></h3>
  </div>

  <div class="small-12 medium-3 column topics-comments-btn">
    <%= link_to topics_legislation_process_path(@process, anchor: "process-list"), data: { no_turbolink: true }, class: "button expanded" do %>
      <strong><%= t("legislation.topics.comments.see_document") %></strong>
    <% end %>
  </div>

  <aside class="small-12 medium-3 column topics-header-aside">
    <div id="social-share" class="sidebar-divider"></div>
    <p class="sidebar-title"><%= t("shared.share") %></p>
    <%= render "/shared/social_share",
      title: @process.title,
      url: comments_legislation_process_topics_url(@process),
      description: @process.summary,
      mobile: @process.title
    %>
  </aside>

  <div class="small-12 medium-9 column row legislation-comments end">
    <% counter_level = 1 %>
    <% @topics.each.with_index(1) do |topic, index| %>
      <%= render 'comment',
        topic: topic, indexes: [index], counter_level: counter_level
      %>
    <% end %>
  </div>
</div>
