<% content_for :canonical do %>
  <%= render "shared/canonical", href: budget_url(@budget, filter: @current_filter) %>
<% end %>

<div class="expanded budget no-margin-top">
  <div class="row" data-equalizer data-equalizer-on="medium">
    <div class="small-12 medium-9 column padding" data-equalizer-watch>
      <%= back_link_to budgets_path %>

      <h1><%= @budget.name %></h1>

      <%= auto_link_already_sanitized_html wysiwyg(@budget.description) %>
    </div>
    <div class="small-12 medium-3 column info padding" data-equalizer-watch>
      <p>
        <strong><%= t("budgets.show.phase") %></strong>
      </p>
      <h2><%= t("budgets.phase.#{@budget.phase}") %></h2>

      <% if @budget.accepting? %>
        <% if current_user %>
          <% if current_user.level_two_or_three_verified? %>
            <%= link_to t("budgets.investments.index.sidebar.create"), new_budget_investment_path(@budget), class: "button margin-top expanded" %>
          <% else %>
            <div class="callout warning margin-top">
              <%= sanitize(t("budgets.investments.index.sidebar.verified_only",
                  verify: link_to_verify_account)) %>
            </div>
          <% end %>
        <% else %>
          <div class="callout primary margin-top">
            <%= sanitize(t("budgets.investments.index.sidebar.not_logged_in",
                  sign_in: link_to_signin, sign_up: link_to_signup)) %>
          </div>
        <% end %>
      <% end %>

      <% if can?(:read_results, @budget) %>
        <%= link_to t("budgets.show.see_results"),
                    budget_results_path(@budget),
                    class: "button margin-top expanded" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row advanced-search-form margin-top">
  <div class="small-12 medium-9 column padding-right">
    <%= form_tag budget_path, method: :get do %>
      <div class="status-list">
        <% %w(all winners losers).each do |status| %>
          <% checked = params[:status_filter] == status %>
          <%= radio_button_tag :status_filter,
            status,
            checked,
            class: 'status-radio-btn',
            id: "status_filter_#{status}"
          %>
          <%= label_tag "status_filter[#{status}]",
            t("budgets.show.filters.#{status}"),
            class: 'status-radio-label'
          %>
        <% end %>
      </div>
      <div class="row">
        <div class="small-12 medium-6 column">
          <label for="search">
            <%= t("shared.advanced_search.general") %>
          </label>
          <%= text_field_tag "search", params[:search] %>
        </div>
        <div class="small-12 medium-4 column">
          <label for="heading_id">
            <%= t("budgets.show.by_subprefecture") %>
          </label>
          <%= select_tag :heading_id,
              options_for_select(
                budget_heading_select_options(@budget), params[:heading_id]
              ),
              { prompt: t("admin.budget_investments.index.heading_filter_all") }
          %>
        </div>
        <div class="small-12 medium-2 column">
          <%= submit_tag t("shared.advanced_search.search"), class: "button expanded" %>
        </div>
      </div>
    <% end %>

    <% @investments.each do |investment| %>
      <%= render "/budgets/investments/investment",
        investment: investment,
        investment_ids: @investment_ids,
        investment_votes: @investment_votes,
        ballot: @ballot
      %>
    <% end %>
    <%= paginate @investments %>
  </div>

  <div class="small-12 medium-3 column">
    <aside class="margin-bottom">
      <div id="sidebar">
        <%= render "/budgets/investments/sidebar" %>
      </div>
    </aside>
  </div>
</div>

