<% voted_classes = css_classes_for_vote(@legislation_proposal_votes, proposal) %>
<% user_voted_for = voted_for?(@legislation_proposal_votes, proposal) %>

<div class="votes">
  <% if @process.proposals_phase.open? %>
      <% if user_signed_in? %>
        <% unless user_voted_for %>
          <%= link_to vote_legislation_process_proposal_path(process_id: proposal.process, id: proposal, value: "yes"),
              class: "button button-support expanded", title: t("votes.agree"), method: "post", remote: true do %>
              <%= t("proposals.proposal.support") %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>

  <div class="proposal-votes">
    <span class="total-votes center">
      <%= t("proposals.proposal.votes", count: proposal.votes_score) %>
    </span>

    <% if user_signed_in? && current_user.organization? %>
      <div class="participation-not-allowed" style="display:none" aria-hidden="false">
        <p>
          <%= t("votes.organizations") %>
        </p>
      </div>
    <% elsif user_signed_in? && !proposal.votable_by?(current_user) %>
      <div class="participation-not-allowed" style="display:none" aria-hidden="false">
        <p>
          <%= sanitize(t("legislation.proposals.not_verified",
              verify_account: link_to_verify_account)) %>
        </p>
      </div>
    <% elsif user_signed_in? && current_user.incomplete_registration? %>
      <div tabindex="0">
        <%= render "shared/complete_registration_to_vote" %>
      </div>
    <% elsif !user_signed_in? && !proposal.process.proposals_phase.open? %>
    <% elsif !user_signed_in? %>
      <div tabindex="0">
        <%= render "shared/login_to_vote" %>
      </div>
    <% end %>

    <% if user_voted_for && setting["twitter_handle"] %>
      <% if @process.proposals_phase.open? %>
        <div class="supported callout success">
          <%= t("legislation.processes.proposals.already_supported") %>
        </div>
      <% end %>

      <div class="share-supported">
        <%= render "shared/social_share",
            title: proposal.title,
            url: proposal_url(proposal),
            description: proposal.summary,
            mobile: proposal.title
        %>
      </div>
    <% end %>
  </div>

</div>
