<%= link_to t("admin.geozones.index.create"),
              new_admin_geozone_path, class: "button float-right" %>

<h2 class="inline-block"><%= t("admin.geozones.index.title") %></h2>

<table>
  <thead>
    <tr>
      <th><%= t("admin.geozones.geozone.name") %></th>
      <th><%= t("admin.geozones.geozone.attached") %></th>
      <th><%= t("admin.geozones.geozone.type") %></th>
      <th class="small-3"><%= t("admin.actions.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @geozones.each do |geozone| %>
      <tr id="<%= dom_id(geozone) %>">
        <td><%= geozone.name %></td>
        <td><%= geozone.document.try :title %></td>
        <td><%= geozone.district? ? t("admin.geozones.geozone.district") : t("admin.geozones.geozone.subprefecture") %></td>
        <td>
          <div class="small-6 column">
            <%= link_to t("admin.geozones.index.edit"),
                        edit_admin_geozone_path(geozone),
                        class: "button hollow expanded" %>
          </div>
          <div class="small-6 column">
            <%= link_to t("admin.geozones.index.archive"),
                        admin_geozone_path(geozone),
                        method: :delete,
                        class: "button hollow alert expanded" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
