<div class="relative">
  <%= link_to t("shared.advanced_search.title"), "#advanced_search_form", id: "js-advanced-search-title", class: "advanced-search small" %>
</div>

<div class="row advanced-search-form">
  <%= form_tag search_path, id: "advanced_search_form", method: :get do %>
    <div id="js-advanced-search" data-advanced-search-terms="<%= @advanced_search_terms.present? %>" style="display: none">

      <div class="small-12 column">
        <label for="search">
          <%= t("shared.advanced_search.general") %>
        </label>
        <%= text_field_tag "search", params[:search],
                           placeholder: t("shared.advanced_search.general_placeholder") %>
        <% if @heading %>
          <%= hidden_field_tag "heading_id", @heading.id %>
        <% end %>
      </div>

      <div class="small-12 medium-3 column">
        <label for="js-advanced-search-date-min"><%= t("shared.advanced_search.date") %></label>
        <%= select_tag("advanced_search[date_min]", date_range_options,
                      include_blank: t("shared.advanced_search.date_range_blank"),
                      id: "js-advanced-search-date-min") %>
      </div>

      <div class="small-12 medium-3 column js-custom-date" style="display: none">
        <label for="advanced_search_date_min">
          <%= t("shared.advanced_search.from") %>
        </label>
        <%= text_field_tag "advanced_search[date_min]",
                            params[:advanced_search].try(:[], :date_min),
                            class: "js-calendar" %>
      </div>
      <div class="small-12 medium-3 column js-custom-date" style="display: none">
        <label for="advanced_search_date_max">
          <%= t("shared.advanced_search.to") %>
        </label>
        <%= text_field_tag "advanced_search[date_max]",
                            params[:advanced_search].try(:[], :date_max),
                            class: "js-calendar" %>
      </div>

      <div class="small-12 medium-3 column end clear" style="margin-top: 1.5rem">
        <%= submit_tag t("shared.advanced_search.search"), class: "button expanded" %>
      </div>

    </div>
  <% end %>
</div>
