<% poll = @poll || question.poll %>
<div class="poll-question-answers">
  <% if able_to_participate?(poll, question) %>
    <p class="question-votes-counter">
      <%= t(
        "poll_questions.show.#{votes_counter_key(question)}",
        count: poll_votes_counter(question)
      ) %>
    </p>

    <% question.question_answers.each do |answer| %>
      <div class="answer-votes">
        <% if @answers_by_question_id[question.id] &&
          @answers_by_question_id[question.id].include?(answer.title)
        %>
          <%= link_to answer.title,
            destroy_answer_question_path(question, {
              answer: answer.title, token: token, poll_id: poll.id
            }),
            method: :delete,
            remote: true,
            title: t("poll_questions.show.destroy_vote", answer: answer.title),
            class: "button secondary hollow js-question-answer answered"
          %>
        <% elsif question.reached_vote_limit?(current_user) %>
          <span class="button secondary hollow disabled"
            title="<%= t(
              "poll_questions.show.vote_limit",
              count: question.votes_per_question)
            %>"
          >
            <%= answer.title %>
          </span>
        <% else %>
          <%= link_to answer.title,
            answer_question_path(question, answer: answer.title, token: token),
            method: :post,
            remote: true,
            title: t("poll_questions.show.vote_answer", answer: answer.title),
            class: "button secondary hollow js-question-answer" %>
        <% end %>

        <p class="answer-votes-count">
          <%= t(
            "polls.index.votes_counter",
            count: question_answers_count(question, answer)
          ) %>
        </p>
      </div>
    <% end %>

  <% elsif !user_signed_in? %>
    <% question.question_answers.order(id: :desc).each do |answer| %>
      <div class="answer-votes">
        <div>
          <span class="button secondary hollow disabled">
            <%= answer.title %>
          </span>
        </div>
        <div class="answer-votes-count margin-bottom">
          <% votes = question.answers.votes_count(answer.title) %>
          <p><%= t("polls.index.votes_counter", count: votes) %></p>
        </div>
      </div>
    <% end %>
  <% elsif !current_user.level_two_or_three_verified? %>
    <% question.question_answers.order(id: :desc).each do |answer| %>
      <%= link_to answer.title,
        verification_path,
        class: "button secondary hollow margin-bottom"
      %>
    <% end %>
  <% else %>
    <% if poll.electoral_college_restricted? &&
      question.category.present? &&
      poll.belongs_to_electoral_college?(current_user)
    %>
      <p class="question-votes-counter">
        <%= t(
          "poll_questions.show.out_of_category",
          category: question.category.downcase
        ) %>
      </p>
    <% end %>

    <% question.question_answers.order(id: :desc).each do |answer| %>
      <div class="answer-votes">
        <% if @answers_by_question_id[question.id] &&
            @answers_by_question_id[question.id].include?(answer.title)
        %>
          <span class="button secondary hollow answered">
            <%= answer.title %>
          </span>
        <% else %>
          <span class="button secondary hollow disabled">
            <%= answer.title %>
          </span>
        <% end %>

        <p class="answer-votes-count">
          <%= t(
            "polls.index.votes_counter",
            count: question_answers_count(question, answer)
          ) %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
