<% if documents.any? %>
  <div id="documents" class="documents">
    <h2><%= t("documents.title") %>&nbsp;<span>(<%= documents.count %>)</span></h2>
    <ul class="no-bullet document-link">
        <% documents.each do |document| %>
          <li id="<%= dom_id(document) %>">
              <%= link_to t("documents.buttons.download_document"),
                          document.attachment.url, target: "_blank",
                          rel: "nofollow", class: "button hollow medium float-right" %>

              <strong><%= document.title %></strong>
              <br>
              <small>
                <%= document.humanized_content_type %>&nbsp;|&nbsp;
                <%= number_to_human_size(document.attachment_file_size, precision: 2) %>
              </small>
          </li>
        <% end %>
    </ul>
  </div>
<% end %>