<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.open_gov") %> %>
<% end %>

<div>

  <%= back_link_to(
    admin_open_gov_plans_path, t("shared.back")
  ) %>

  <h2><%= t("admin.open_gov.plans.index.title") %></h2>

  <%= render "/admin/open_gov/subnav", active: "monitoring" %>

  <h2>
    <%= t("admin.open_gov.plans.new.title") %>
  </h2>

  <%= render 'form', url: admin_open_gov_plans_path %>

</div>
