<% provide :title do %><%= t("pages.titles.help", org: setting["org_name"]) %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: help_url %>
<% end %>

<% if has_banners? %>
  <%= render "shared/banner" %>
<% end %>

<div class="jumbo no-padding-bottom margin-bottom">
  <div class="row">
    <div class="small-12 medium-9 column help-header-page">
      <h2><%= t("pages.help.title", org: setting["org_name"]) %></h2>
    </div>
  </div>

  <%#= render "pages/help/menu" %>
</div>

<div id="more-info" class="more-info-content">
  <div class="row">
    <div class="small-12 medium-7 large-8 column help-style">
      <p><%= sanitize(t("pages.help.guide", org: setting["org_name"])) %></p>
    </div>
  </div>
</div>
