<tr id="<%= dom_id(poll) %>" class="poll">
  <td>
    <strong>
      <% if current_user.editor? && poll.editable? || current_user.administrator? %>
        <%= link_to poll.name, edition_poll_path(poll) %>
      <% else %>
        <%= poll.name %>
      <% end %>
    </strong>
  </td>
  <td class="text-center">
    <%= l poll.starts_at.to_date %>
  </td>
  <td class="text-center">
    <%= l poll.ends_at.to_date %>
  </td>
  <td>
    <% if current_user.editor? || current_user.administrator? %>
      <%= link_to t("admin.actions.edit"),
                  edit_poll_path(poll),
                  class: "button hollow" %>

      <%= link_to t("admin.actions.delete"),
              edition_poll_path(poll),
              method: :delete,
              "data-confirm": t("admin.polls.destroy.alert"),
              class: "button hollow alert" %>
    <% end %>
  </td>
</tr>
