
<% unless @poll.budget_poll? %>
  <%= link_to t("admin.polls.edit.title"),
            edit_edition_poll_path(@poll),
            class: "button hollow float-right" %>
<% end %>


<h2 class="inline-block">
  <%= @poll.name %>
</h2>

<div class="clear"></div>

<div class="callout highlight">
  <div class="inline-block">
    <strong><%= t("admin.polls.index.dates") %></strong>
    <br>
    <%= l @poll.starts_at.to_date %> - <%= l @poll.ends_at.to_date %>
  </div>

  <div class="inline-block margin-left">
    <% if @poll.geozones.any? %>
      <% if @poll.geozones.first.district == false %>    
        <strong><%= t("admin.polls.index.geozone_sub_restricted") %></strong>
      <% elsif @poll.geozones.first.district == true %> 
        <strong><%= t("admin.polls.index.geozone_district_restricted") %></strong>
      <% end %>
        <br>
          <%= @poll.geozones.pluck(:name).to_sentence %>
    <% end %>
  </div>
</div>
