<% poll_group.each do |poll| %>
  <div class="poll with-image polls-cards">
    <% if !user_signed_in? && !expired? %>
      <div class="icon-poll-answer not-logged-in" title="<%= t("polls.index.not_logged_in") %>">
        <span class="show-for-sr"><%= t("polls.index.not_logged_in") %></span>
      </div>
    <% elsif user_signed_in?  && !poll.expired? %>
      <% if current_user.unverified? %>
        <div class="icon-poll-answer unverified" title="<%= t("polls.index.unverified") %>">
          <span class="show-for-sr"><%= t("polls.index.unverified") %></span>
        </div>
      <% elsif current_user.organization.present? %>
        <div class="icon-poll-answer cant-answer" title="Não é possível participar como organização" %>">
          <span class="show-for-sr">
            <%= "Não é possível participar como organização" %>
          </span>
        </div>
      <% elsif poll.electoral_college_restricted? && !poll.belongs_to_electoral_college?(current_user) %>
        <div class="icon-poll-answer cant-answer" title="<%= t("polls.index.electoral_college_restricted") %>">
          <span class="show-for-sr">
            <%= t("polls.index.electoral_college_restricted") %>
          </span>
        </div>
      <% elsif cannot?(:answer, poll) %>
        <% if current_user && current_user.geozone %>
          <div class="icon-poll-answer cant-answer" title="<%= t("polls.index.cant_answer") %>">
            <span class="show-for-sr"><%= t("polls.index.cant_answer") %></span>
          </div>
        <% else %>
          <div class="icon-poll-answer cant-answer" title="<%= t("polls.index.cant_answer_restrict") %>">
            <span class="show-for-sr"><%= t("polls.index.cant_answer_restrict") %></span>
          </div>
        <% end %>
      <% else %>
        <div class="icon-poll-answer already-answer" title="<%= t("polls.index.can_answer") %>">
          <span class="show-for-sr"><%= t("polls.index.already_answer") %></span>
        </div>
      <% end %>
    <% end %>
    <div class="row" data-equalizer data-equalize-on="medium">
      <div class="small-12 medium-3 column no-padding-right">
        <% if poll.image.present? %>
          <div class="image-container" data-equalizer-watch
               style="background-image: url(<%= URI(asset_url poll.image_url(:large)) %>); background-size: cover; background-position: center">
          </div>
        <% end %>
      </div>
      <div class="small-12 medium-9 column poll-card-info" data-equalizer-watch>
        <div class="poll-details">
          <h4><%= link_to_poll poll.name, poll %></h4>
          <%= auto_link_already_sanitized_html simple_format(poll.summary) %>

          <% if poll.electoral_college_restricted? %>
            <p>
              <small><%= t("polls.index.electoral_college_info") %></small>
            </p>
          <% end %>
          
          <% if poll.geozone_restricted? %>
            <% if poll.geozones.first.district == false %>
              <p>
                <small><%= t("polls.index.geozone_sub_info", count: poll.geozones.count) %></small>
              </p>
            <% elsif poll.geozones.first.district == true %>
              <p>
                <small><%= t("polls.index.geozone_district_info", count: poll.geozones.count) %></small>
              </p>  
            <% end %>

            <% if poll.geozones.any? %>
              <ul class="no-bullet inline-block tags no-margin-bottom">
                <% poll.geozones.each do |g| %>
                  <li class="inline-block"><span><%= g.name %></span></li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </div>

        <div class="column row legislation-calendar padding-left">
          <h4><%= t("polls.index.period") %></h4>
          <p>
            <%= format_date(poll.starts_at) %> - <%= format_date(poll.ends_at) %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
