<% provide :title do %><%= @poll.name %><% end %>

<div class="polls-results-stats">
  <%= render "poll_header" %>

  <%= render "poll_subnav" %>

  <div class="row margin" data-equalizer data-equalize-on="medium">
    <div class="small-12 medium-3 column sidebar" data-equalizer-watch>
      <p class="purple-font">
        <strong><%= t("polls.show.results.title") %></strong>
      </p>
      <ul class="menu vertical questions-list">
        <% @poll.questions.each do |question| %>
          <li>
            <%= link_to question.title, "##{question.title.parameterize}" %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="small-12 medium-9 column" data-equalizer-watch>
      <p class="download-link float-right">
        <%= link_to t("stats.polls.result_spreadsheet"),
          results_poll_path(@poll, csv_params),
          class: "small"
        %>
      </p>
      <% @poll.questions.each do |question| %>
        <% most_voted_answers = question.most_voted_answers || [] %>
        <h3 id="<%= question.title.parameterize %>"><%= question.title %></h3>
        <% amount = 3 %>
        <% question.question_answers.each_slice(amount) do |answers| %>
          <table id="question_<%= question.id %>_results_table">
            <thead>
              <tr>
                <% answers.each do |answer| %>
                  <th scope="col"
                    <%= most_voted_answers.include?(answer) ? "class=win" : "" %>
                  >
                    <% if most_voted_answers.include?(answer) %>
                      <span class="show-for-sr">
                        <%= t("polls.show.results.most_voted_answer") %>
                      </span>
                    <% end %>
                    <%= answer.title %>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% answers_stats_columns(amount, answers).each do |answer| %>
                  <% if answer.present? %>
                    <td id="answer_<%= answer.id %>_result"
                      <%= most_voted_answers.include?(answer) ? "class=win" : "" %>
                    >
                      <%= answer.total_votes %>
                      (<%= answer.total_votes_percentage.round(2) %>%)
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
              </tr>
            </tbody>
          </table>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
