<%= render "/admin/poll/polls/poll_header" %>
<div id="poll-resources">
  <%= render "/admin/poll/polls/subnav" %>

  <h3><%= t("admin.recounts.index.title") %></h3>

  <% if @booth_assignments.empty? %>
    <div class="callout primary margin-top">
      <%= t("admin.recounts.index.no_recounts") %>
    </div>
  <% else %>

    <%= render "results_totals" %>

    <%= render "results_questions" %>

    <%= render "results_by_booth" %>

  <% end %>
</div>
