<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.open_gov") %> %>
<% end %>

<h2><%= t("admin.open_gov.articles.index.title") %></h2>

<%= render "/admin/open_gov/subnav", active: "articles" %>

<div>
  <h3 class="inline-block">
    <%= t("admin.open_gov.articles.index.articles") %>
  </h3>

  <%= link_to t("admin.open_gov.articles.index.create"),
    new_admin_open_gov_article_path,
    class: "button float-right"
  %>
</div>

<% if @articles.any? %>
  <table>
    <thead>
      <th>
        <%= t("admin.open_gov.articles.index.created_at") %>
      </th>
      <th class="small-8">
        <%= t("admin.open_gov.articles.index.article_title") %>
      </th>
      <th class="text-center"><%= t("admin.actions.actions") %></th>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <%= render "article", article: article %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="callout primary margin-top clear">
    <%= t("admin.open_gov.articles.index.no_articles") %>
  </div>
<% end %>

<div>
  <h3 class="inline-block">
    <%= t("admin.open_gov.articles.index.projects") %>
  </h3>

  <%= link_to t("admin.open_gov.articles.index.create_project"),
    new_admin_open_gov_project_path,
    class: "button float-right"
  %>
</div>

<% if @projects.any? %>
  <table>
    <thead>
      <th class="small-9">
        <%= t("admin.open_gov.articles.index.project_title") %>
      </th>
      <th class="align-action"><%= t("admin.actions.actions") %></th>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr id="<%= dom_id(project) %>">
          <td>
            <%= project.title%>
          </td>
          <td class="align-right">
            <%= link_to t("admin.actions.edit"),
              edit_admin_open_gov_project_path(project),
              class: "button hollow small"
            %>
            <%= link_to t("admin.actions.delete"),
              admin_open_gov_project_path(project),
              method: :delete,
              "data-confirm": t("admin.open_gov.articles.delete.project_alert"),
              class: "button hollow alert small"
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="callout primary margin-top clear">
    <%= t("admin.open_gov.articles.index.no_projects") %>
  </div>
<% end %>
