<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.open_gov") %> %>
<% end %>

<h2 class="inline-block"><%= t("admin.open_gov.articles.index.title") %></h2>

<%= link_to t("admin.open_gov.articles.index.create"),
  new_admin_open_gov_article_path,
  class: "button float-right"
%>

<%= render "subnav" %>
