<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.open_gov") %> %>
<% end %>

<%= back_link_to(
  admin_open_gov_articles_path, t("shared.back")
) %>

<h2><%= @article.title %></h2>

<%= wysiwyg(@article.text) %>
