<div>
  <%= back_link_to admin_polls_path, t("polls.show.back") %>
</div>

<%= render "poll_header" %>

<div id="poll-resources">
  <%= render "subnav" %>

  <% if @poll.electoral_college_restricted? && !@poll.electoral_college %>
    <h2 class="inline-block"><%= t("admin.electoral_colleges.index.title") %></h2>

    <%= link_to t("admin.electoral_colleges.index.create"),
      new_admin_poll_electoral_college_path(@poll),
      class: "button float-right"
    %>
  <% else %>
    <%= render "questions" %>
  <% end %>
</div>
