<%= back_link_to admin_local_census_records_path %>

<h2><%= t("admin.local_census_records.imports.new.title") %></h2>

<p>
  <%= t(
    "admin.local_census_records.imports.new.info",
    required_headers: local_census_records_import_required_headers
  ) %>
</p>

<ul>
  <li>
    <%= t(
      "admin.local_census_records.imports.new.gender_info",
      gender_options: @import.gender_options
    ) %>
  </li>
  <li>
    <%= t(
      "admin.local_census_records.imports.new.ethnicity_info",
      ethnicity_options: @import.ethnicity_options
    ) %>
  </li>
</ul>

<%= render "form" %>
