<% provide :title do %>
  <%= t("admin.header.title") %> - <%= t("admin.menu.open_gov") %> %>
<% end %>

<div>

  <%= back_link_to(
    admin_open_gov_articles_path, t("shared.back")
  ) %>

  <h2 class="inline-block"><%= t("admin.open_gov.projects.index.title") %></h2>

  <%= render "/admin/open_gov/subnav", active: "articles" %>

  <h2 class="inline-block">
    <%= t("admin.open_gov.projects.new.title") %>
  </h2>

  <%= render 'form', url: admin_open_gov_project_path(@project) %>

</div>
