<% mark.lines.each_with_index do |line, number| %>
  <div class="margin-top lines-preview lines-cards">
    <div class="small-12 column">

      <p class="mark-number">
        <%= t("admin.open_gov.commitments.show.line",
          mark_number: mark_number, number: number + 1) %>
      </p>

      <h4><%= line.title %></h4>

      <p>
        <strong><%= t("admin.open_gov.commitments.show.period") %>:</strong>
        <%= format_date(line.starts_at) %> - <%= format_date(line.ends_at) %>

        <br>

        <strong><%= t("admin.open_gov.commitments.show.author") %>:</strong>
        <%= line.author %>

        <br>

        <strong><%= t("admin.open_gov.commitments.show.text") %>:</strong>

        <br>

        <section>
          <%= AdminWYSIWYGSanitizer.new.sanitize(mark.delivered) %>
        </section>

        <br>
      </p>
    </div>
  </div>
<% end %>
