<div class="action-plans-cards margin-top">
  <%= render "tags", resource: mark.status, lines: "" %>

  <div class="action-plan-card-content">

    <p class="action-plan-number">
      <% mark_number = number + 1 %>
      <%= t("admin.open_gov.commitments.show.mark", commitment_number: commitment_number, number: mark_number) %>
    </p>

    <h3><%= mark.title %></h3>

    <p class="poll-answers-more-info">
      <a id="<%= dom_id(mark) %>_more_info"
        data-toggle="<%= dom_id(mark) %>_answer_info
          <%= dom_id(mark) %>_more_info
          <%= dom_id(mark) %>_less_info"
        data-toggler="hide"
      >
        <%= t("admin.open_gov.commitments.show.more_info") %>
      </a>
      <a id="<%= dom_id(mark) %>_less_info"
        data-toggle="<%= dom_id(mark) %>_answer_info
          <%= dom_id(mark) %>_more_info
          <%= dom_id(mark) %>_less_info"
        data-toggler="hide" class="hide"
      >
        <%= t("admin.open_gov.commitments.show.less_info") %>
      </a>
    </p>

    <div id="<%= dom_id(mark) %>_answer_info"
      class="hide" data-toggler="hide">
        <div>
          <p>
            <strong><%= t("admin.open_gov.commitments.show.period") %>:</strong>
            <%= format_date(mark.starts_at) %> - <%= format_date(mark.ends_at) %>

            <br>

            <strong><%= t("admin.open_gov.commitments.show.author") %>:</strong>
            <%= mark.author %>

            <br>


            <% if mark.delivered.present? %>
              <strong><%= t("admin.open_gov.commitments.show.text") %>:</strong>

              <br>

              <section>
                <%= AdminWYSIWYGSanitizer.new.sanitize(mark.delivered) %>
              </section>
            <% end %>

            <% if mark.documents.present? %>
              <%= render "documents", documents: mark.documents %>
            <% end %>

          </p>

          <% if mark.lines.any? %>
            <p class="poll-answers-more-info margin-top">
              <a id="<%= dom_id(mark) %>_line_more_info"
                data-toggle="<%= dom_id(mark) %>_line_answer_info
                  <%= dom_id(mark) %>_line_more_info
                  <%= dom_id(mark) %>_line_less_info"
                data-toggler="hide"
              >
                <%= t("admin.open_gov.commitments.show.show_lines") %>
              </a>
              <a id="<%= dom_id(mark) %>_line_less_info"
                data-toggle="<%= dom_id(mark) %>_line_answer_info
                  <%= dom_id(mark) %>_line_more_info
                  <%= dom_id(mark) %>_line_less_info"
                data-toggler="hide" class="hide"
              >
                <%= t("admin.open_gov.commitments.show.hide_lines") %>
              </a>
            </p>
          <% end %>

          <% if mark.lines.any? %>
            <div id="<%= dom_id(mark) %>_line_answer_info"
              class="hide" data-toggler="hide">
              <%= render "lines", mark: mark, mark_number: mark_number, commitment_number: commitment_number %>
            </div>
          <% end %>
        </div>
    </div>

  </div>
</div>
