<div id="<%= dom_id(project) %>"
     class="card small-12 medium-4 column margin-bottom end">
  <%= link_to project.link_url do %>
    <figure class="figure-card">
      <div class="gradient"></div>
      <% if project.image.present? %>
        <%= image_tag(project.image_url(:large), alt: project.image.title) %>
      <% end %>
      <figcaption>
        <span><%= project.title %></span>
      </figcaption>
    </figure>
    <p class="description"><%= project.description %></p>
    <p><%= project.link_text %></p>
  <% end %>
</div>
