<% provide :title do %><%= t("layouts.header.open_gov") %><% end %>

<%= render "shared/section_header", i18n_namespace: "open_gov.index.section_header", image: "open-gov", resource: "open-gov"%>

<div class="row">
  <div class="small-12 column">

    <%= render "filter_subnav" %>

    <% if @current_filter == "government" %>
      <%= render "government" %>
    <% elsif @current_filter == "participation" %>
      <%= render "participation" %>
    <% elsif @current_filter == "action_plan" %>
      <%= render "action_plans" %>
    <% end %>
  </div>
</div>