<div class="row account">
  <div class="small-12 column">
    <div class="float-right text-right">
      <%= link_to t("account.edit.my_account"), account_path, class: "button hollow" %>
    </div>

    <%= form_for(@account, as: :account, url: account_path) do |f| %>
      <h2><%= t("account.edit.privacy") %></h2>

      <div>
        <%= f.check_box :public_activity %>
      </div>

      <div>
        <%= f.check_box :public_interests %>
      </div>

      <% if @account.email.present? %>
        <h2><%= t("account.edit.notifications") %></h2>

        <div>
          <%= f.check_box :email_on_comment %>
        </div>

        <div>
          <%= f.check_box :email_on_comment_reply %>
        </div>

        <div>
          <%= f.check_box :newsletter %>
        </div>

        <div>
          <%= f.check_box :email_digest %>
        </div>

        <div>
          <%= f.check_box :email_on_direct_message %>
        </div>
      <% end %>

      <% if @account.official_level == 1 %>
        <div>
          <%= f.check_box :official_position_badge %>
        </div>
      <% end %>

      <% if feature?("user.recommendations") %>
        <h2><%= t("account.edit.recommendations") %></h2>

        <% if feature?("user.recommendations_on_debates") %>
          <div>
            <%= f.check_box :recommended_debates %>
          </div>
        <% end %>

        <% if feature?("user.recommendations_on_proposals") %>
          <div>
            <%= f.check_box :recommended_proposals %>
          </div>
        <% end %>
      <% end %>

      <%= f.submit t("account.show.save_changes_submit"), class: "button" %>
    <% end %>
  </div>
</div>
