<div class="row account">
  <div class="small-12 column">
    <div class="float-right text-right">
      <%= link_to t("account.show.privacy_and_notifications"), edit_account_path, class: "button hollow" %>
      <%= link_to t("account.show.change_credentials_link"), edit_user_registration_path, class: "button hollow" %>
      <br>
      <%= link_to t("account.show.erase_account_link"), users_registrations_delete_form_path, class: "delete" %>
    </div>

    <%= avatar_image(@account, seed: @account.id, size: 100, class: "margin-bottom") %>

    <h1 class="inline-block"><%= t("account.show.title") %></h1>

    <%= form_for @account, as: :account, url: account_path do |f| %>
      <%= render "shared/errors", resource: @account %>

      <div class="row">
        <div class="small-12 medium-7 column">

          <h2><%= t("account.show.personal") %></h2>

          <div class="small-12 medium-10">
            <% if @account.organization? %>
              <%= f.fields_for :organization do |fo| %>
                <%= fo.text_field :name, autofocus: true, maxlength: Organization.name_max_length, placeholder: t("account.show.organization_name_label") %>
                <%= fo.text_field :responsible_name, autofocus: true, maxlength: Organization.responsible_name_max_length, placeholder: t("account.show.organization_responsible_name_placeholder") %>
              <% end %>
            <% else %>

              <div class="row">
                <div class="medium-8 column">
                  <%= f.text_field(
                    :username,
                    maxlength: User.username_max_length,
                    placeholder: t("account.show.username_label")
                  ) %>
                </div>
                <div class="medium-4 column">
                  <% if params[:foreigner] || @account.foreigner_document? %>
                    <%= f.text_field(
                      :document_number,
                      required: true,
                      readonly: @account.document_number_changes_count,
                      label: t("account.show.foreigner_document"),
                      title: foreigner_document_title,
                      title: t("account.show.foreigner_document_title"),
                      class: "js-rnm-mask uppercase #{ 'js-document-number-confirmation' if @account.document_number }",
                    ) %>
                    <%= f.hidden_field(:document_type, value: "rnm") %>
                    <% if params[:foreigner] && @account.document_number.blank? %>
                      <p class="small-link-form text-right">
                        <%= link_to("< #{t('shared.back')}", account_path) %>
                      </p>
                    <% end %>
                  <% else %>
                    <%= f.text_field(
                      :document_number,
                      class: "js-cpf-mask #{ 'js-document-number-confirmation' if @account.document_number }",
                      required: true,
                      readonly: @account.document_number_changes_count,
                      title: readonly_title(@account.document_number_changes_count)
                    ) %>
                    <%= f.hidden_field(:document_type, value: "cpf") %>
                    <% if @account.document_number.blank? && params[:foreigner].nil? %>
                      <p class="small-link-form text-right">
                        <%= link_to(
                          t('account.show.foreigner_user'),
                          account_path(foreigner: true)
                        ) %>
                      </p>
                    <% end %>
                  <% end %>
                </div>
              </div>

              <div class="row">
                <div class="medium-6 column">
                  <%= f.text_field(:first_name, required: true) %>
                </div>
                <div class="medium-6 column">
                  <%= f.text_field(:last_name, required: true) %>
                </div>
              </div>

              <div class="row">
                <div class="medium-4 column">
                  <%= f.text_field(
                    :date_of_birth,
                    value: date_of_birth_value,
                    required: true,
                    readonly: @account.date_of_birth_changes_count,
                    title: readonly_title(@account.date_of_birth_changes_count),
                    class: "js-date-of-birth-mask #{date_of_birth_class}"
                  ) %>
                </div>
                <div class="small-6 medium-4 column">
                  <%= f.select(
                    :gender,
                    options_for_gender(@account),
                    include_blank: true
                  ) %>
                </div>
                <div class="small-6 medium-4 column">
                  <%= f.select(
                    :ethnicity,
                    options_for_ethnicity(@account),
                    include_blank: true
                  ) %>
                </div>
              </div>
            <% end %>

            <div class="row">
              <div class="medium-3 column">
                <%= f.text_field(
                  :cep,
                  required: true,
                  class: "js-cep-mask"
                ) %>
              </div>
              <div class="medium-9 column <%= address_hide_class %>">
                <%= f.text_field(
                  :home_address,
                  readonly: true,
                  class: 'disabled'
                ) %>
              </div>
            </div>
            <div class="row">
              <div class="small-6 medium-2 column <%= address_hide_class %>">
                <%= f.text_field(:address_number) %>
              </div>
              <div class="small-6 medium-3 column <%= address_hide_class %>">
                <%= f.text_field(:address_complement) %>
              </div>
              <div class="small-6 medium-5 column">
                <%= f.text_field(
                  :city,
                  readonly: true,
                  class: 'disabled'
                ) %>
              </div>
              <div class="small-6 medium-2 column">
                <%= f.text_field(
                  :uf,
                  readonly: true,
                  class: 'disabled'
                ) %>
              </div>
              <%= f.hidden_field(
                :neighbourhood,
                readonly: true,
                class: 'disabled'
              ) %>
            </div>

            <% if @select_address %>
              <div class="row">
                <div class="medium-6 column">
                  <%= f.collection_select(:sub_id, @subs, :id, :name) %>
                </div>
                <div class="medium-6 column">
                  <%= f.collection_select(:geozone_id, @districts, :id, :name) %>
                </div>
              </div>
            <% elsif @select_district %>              
              <div class="row">
                <div class="medium-6 column">
                  <%= f.select(:sub_id, options_from_collection_for_select(Geozone.where(district: false), :id, :name, selected: @account.geozone.subprefecture.id), { label: 'Subprefeitura' }) %>
                </div>
                <div class="medium-6 column">
                  <%= f.select(:geozone, options_from_collection_for_select(Geozone.where(district: true), :id, :name), selected: @account.geozone_id, label: 'Distrito') %>
                </div>          
              </div>
            <% elsif @account.geozone_id.present? %>
              <div class="row">
                <div class="medium-6 column">
                  <%= f.select(:sub_id, options_from_collection_for_select(Geozone.where(district: false), :id, :name, selected: @account.geozone.subprefecture.id), { label: 'Subprefeitura' }, disabled: true ) %>
                </div>
                <div class="medium-6 column">
                  <%= f.select(:geozone, options_from_collection_for_select(Geozone.where(district: true), :id, :name, selected: @account.geozone_id), { label: 'Distrito' }, disabled: true ) %>
                </div>
              </div>
            <% end %>
          </div>

          <%= f.submit t("account.show.save_changes_submit"), class: "button margin-top" %>
        </div>

        <div class="user-permissions small-12 medium-5 column">
          <h2><%= t("account.show.user_permission_title") %></h2>

          <p><%= t("account.show.user_permission_info") %></p>

          <ul>
            <li><span class="icon-check"></span>&nbsp;<%= t("account.show.user_permission_debates") %></li>
            <% if feature?(:proposals) %>
              <li><span class="icon-check"></span>&nbsp;<%= t("account.show.user_permission_proposal") %></li>
              <li>
                <% if current_user.level_two_or_three_verified? %>
                  <span class="icon-check"></span>
                <% else %>
                  <span class="icon-x"></span>
                <% end %>
                <%= t("account.show.user_permission_support_proposal") %>
              </li>
            <% end %>
            <li>
              <% if current_user.level_three_verified? && current_user.can_vote? %>
                <span class="icon-check"></span>
              <% else %>
                <span class="icon-x"></span>
              <% end %>
              <%= t("account.show.user_permission_votes") %>
            </li>
          </ul>

          <p>
            <%= t("account.show.user_permission_verify") %>
          </p>

          <div>
            <span class="verify-account">
              <% if current_user.level_three_verified? %>
                <p>
                  <% if current_user.can_vote? && (current_user.geozone_id.present? || !current_user.resident?) %>
                    <span class="icon-check"></span>
                  <% else %>
                    <span class="icon-x"></span>
                  <% end %>
                  <%= t("account.show.verified_account") %>
                </p>
              <% end %>
            </span>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
