<h4><%= title %> (<%= electors.size %>)</h4>
<table id="<%= id %>" class="table table-striped">
  <thead>
    <tr>
      <th><%= t("admin.electoral_colleges.elector.document_type") %></th>
      <th><%= t("admin.electoral_colleges.elector.document_number") %></th>
      <th><%= t("admin.electoral_colleges.elector.category") %></th>
      <th class="text-center">
        <%= t("admin.electoral_colleges.elector.user_found") %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% if electors.any? %>
      <% electors.each do |elector| %>
        <%= render "elector", elector: elector %>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4" style="width: 100% !important;">
          <%= t("admin.poll_electors.import.show.no_records_found") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
