<li>
  <div class="row">
    <div class="small-10 column">
      <h4><%= district.name %></h4>
    </div>
    <div class="small-2 column" style="cursor: pointer">
      <p
        class="icon-plus-square js-district-info"
        data-district="<%= district.id %>_sidebar"
      >
      </p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-7 column small">
      <%= sanitize(t(
        "budgets.investments.index.population",
        population: number_with_delimiter(
          district.population,
          delimiter: "."
        )
      )) %>
    </div>
    <div class="small-12 medium-5 column small no-padding-right">
      <%= sanitize(t(
        "budgets.investments.index.area",
        population: number_with_delimiter(
          district.area.round(2),
          separator: ","
        )
      )) %>
    </div>
  </div>
  <div
    class="row"
    data-target="<%= dom_id(district) %>_sidebar"
    style="display: none"
  >
    <div class="small-12 column small">
      <hr>
      <%= sanitize(t(
        "budgets.investments.index.sidebar.district_info",
        population_density: number_with_delimiter(
          district.population_density, separator: ","
        ),
        households: number_with_delimiter(district.households, delimiter: "."),
        slum_households_percentage: number_with_delimiter(
          district.slum_households_percentage, separator: ","
        ),
        slum_households_reference_year: district.slum_households_reference_year,
        count: district.slum_households_percentage
      )) %>
      <%= sanitize(t(
        "budgets.investments.index.sidebar.district_formal_jobs_by_population",
        formal_jobs_by_population: number_with_delimiter(
          district.formal_jobs_by_population.round(2),
          separator: ","
        ),
        formal_jobs_by_population_reference_year:
          district.formal_jobs_by_population_reference_year
      )) %>
    </div>
  </div>
</li>
