<% if @heading.present? %>
  <section class="no-margin-top">
    <div class="expanded jumbo-budget budget-heading padding-top">

      <div class="row">
        <div class="small-12 column">
          <%= back_link_to budgets_path %>

          <% if can? :show, @ballot %>
            <%= link_to t("budgets.investments.header.check_ballot"),
                        budget_ballot_path(@budget),
                        class: "button float-right" %>
          <% end %>
        </div>
      </div>

      <div class="row progress-votes">
        <div class="small-12 column">
          <% if can? :show, @ballot %>
            <div id="check-ballot" style="display: none;">
              <%= link_to t("budgets.investments.header.check_ballot"),
                          budget_ballot_path(@budget) %>
            </div>
            <% if @ballot.valid_heading?(@heading) %>
              <div class="progress-bar-nav" data-fixed-bar>
                <h2>
                  <%= t("budgets.investments.index.by_heading", heading: @heading.name) %>
                </h2>
                <div class="small-6 medium-3 large-2 column no-padding-left text-color-white">
                  <h5>
                    <%= sanitize(t(
                      "budgets.investments.index.population",
                      population: number_with_delimiter(
                        @heading.population,
                        delimiter: "."
                      )
                    )) %>
                  </h5>
                </div>
                <div class="small-6 medium-3 large-2 column end text-color-white">
                  <h5>
                    <%= sanitize(t(
                      "budgets.investments.index.area",
                      population: number_with_delimiter(
                        @heading.area.round(2),
                        separator: ","
                      )
                    )) %>
                  </h5>
                </div>
                <div id="progress_bar" class="no-margin-top">
                  <%= render "budgets/ballot/progress_bar" %>
                </div>
              </div>
            <% else %>
              <h2>
                <%= t("budgets.investments.index.by_heading", heading: @heading.name) %>
              </h2>
              <div class="small-12 medium-9">
                <div class="callout warning margin-top">
                  <%= sanitize(t("budgets.investments.header.different_heading_assigned",
                        heading_link: heading_link(@assigned_heading, @budget))) %>
                  <br>
                  <small>
                    <%= sanitize(t("budgets.investments.header.change_ballot",
                        check_ballot: link_to(t("budgets.investments.header.check_ballot_link"),
                                      budget_ballot_path(@budget)))) %>
                  </small>
                </div>
              </div>
            <% end %>
            <h6 class="js-subprefecture-data subprefecture-label">
              <span class="icon-plus-square"></span> <%= t("budgets.investments.index.subprefecture_label") %>
            </h6>
          <% else %>
            <div class="progress-bar-nav">
              <h2 class="margin-top">
                <%= t("budgets.investments.index.by_heading", heading: @heading.name) %>
              </h2>
              <div class="small-6 medium-3 large-2 column no-padding-left text-color-white">
                <h5>
                  <%= sanitize(t(
                    "budgets.investments.index.population",
                    population: number_with_delimiter(
                      @heading.population,
                      delimiter: "."
                    )
                  )) %>
                </h5>
              </div>
              <div class="small-6 medium-3 large-2 column end text-color-white">
                <h5>
                  <%= sanitize(t(
                    "budgets.investments.index.area",
                    population: number_with_delimiter(
                      @heading.area.round(2),
                      separator: ","
                    )
                  )) %>
                </h5>
              </div>
              <% if @budget.resource_allocation_balloting? %>
                <h3>
                  <span class="tagline"><%= t("budgets.investments.header.price") %></span>
                  <%= @budget.formatted_heading_price(@heading) %>
                </h3>
              <% end %>
            </div>
            <div class="row">
              <div class="small-12 column">
                <h6 class="js-subprefecture-data subprefecture-label relative-position">
                  <span class="icon-plus-square"></span> <%= t("budgets.investments.index.subprefecture_label") %>
                </h6>
              </div>
            </div>
          <% end %>

        </div>
      </div>
      <% unless current_user %>
        <div class="row">
          <div class="small-12 column">
            <h6 class="js-subprefecture-data subprefecture-label relative-position">
              <span class="icon-plus-square"></span> <%= t("budgets.investments.index.subprefecture_label") %>
            </h6>
          </div>
        </div>
      <% end %>
    </div>
  </section>
<% else %>
  <div class="expanded budget no-margin-top">
    <div class="row" data-equalizer data-equalizer-on="medium">
      <div class="small-12 medium-9 column padding" data-equalizer-watch>
        <%= back_link_to budgets_path %>

        <h1><%= t("budgets.show.investment_proposals") %></h1>

        <%= auto_link_already_sanitized_html wysiwyg(@budget.description) %>
      </div>
      <div class="small-12 medium-3 column info padding" data-equalizer-watch>
        <p>
          <strong><%= t("budgets.show.phase") %></strong>
        </p>
        <h2><%= t("budgets.phase.#{@budget.phase}") %></h2>

        <% if @budget.accepting? %>
          <% if current_user %>
            <% if current_user.level_two_or_three_verified? %>
              <%= link_to t("budgets.investments.index.sidebar.create"),
                new_budget_investment_path(@budget),
                class: "button margin-top expanded"
              %>
            <% else %>
              <div class="callout warning margin-top">
                <%= sanitize(t(
                  "budgets.investments.index.sidebar.verified_only",
                  verify: link_to_verify_account
                )) %>
              </div>
            <% end %>
          <% else %>
            <div class="callout primary margin-top">
              <%= sanitize(t(
                "budgets.investments.index.sidebar.not_logged_in",
                sign_in: link_to_signin, sign_up: link_to_signup
              )) %>
            </div>
          <% end %>
        <% end %>

        <% if can?(:read_results, @budget) %>
          <%= link_to t("budgets.show.see_results"),
            budget_results_path(@budget),
            class: "button margin-top expanded"
          %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
