<h1><%= investment.title %></h1>
<div class="budget-investment-info">
  <%= render "/shared/author_info", resource: investment %>

  <span class="bullet">&nbsp;&bull;&nbsp;</span>
  <%= l investment.created_at.to_date %>
  <span class="bullet">&nbsp;&bull;&nbsp;</span>
  <%= investment.heading.name %>
  <span class="bullet">&nbsp;&bull;&nbsp;</span>
  <%= sanitize(t("budgets.investments.show.code", code: proposal_code(investment))) %>
  <% if local_assigns[:preview].nil? %>
    <span class="js-flag-actions">
      <%= render "budgets/investments/flag_actions", investment: investment %>
    </span>
  <% end %>
</div>

<br>

<%= auto_link_already_sanitized_html wysiwyg(investment.description) %>

<%= render "shared/tags", taggable: investment %>

<%= render_image(investment.image, :large, true) if investment.image.present? %>


<% if feature?(:map) && map_location_available?(@investment.map_location) %>
  <div class="margin">
    <%#= render_map(investment.map_location, "budget_investment", false, nil) %>
  </div>
<% end %>


<% if feature?(:allow_attached_documents) %>
  <%= render "documents/documents",
              documents: investment.documents,
              max_documents_allowed: Budget::Investment.max_documents_allowed %>
<% end %>


<% if investment.external_url.present? %>
  <div class="document-link">
    <%= sanitize_and_auto_link investment.external_url %>
  </div>
<% end %>

<% if investment.should_show_feasibility_analysis? %>
  <fieldset class="feasibility-fieldset <%= investment.feasibility %>">
    <legend class="feasibility-legend">
      <%= t("budgets.investments.show.#{investment.feasibility}") %>
    </legend>
    <% if investment.commitment.present? && investment.feasible? %>
      <h4><%= t("budgets.investments.show.commitment") %></h4>
      <%= wysiwyg(investment.commitment) %>
    <% end %>
    <% if investment.unfeasibility_explanation.present? %>
      <h4><%= t("budgets.investments.show.unfeasibility_explanation") %></h4>
      <%= wysiwyg(investment.unfeasibility_explanation) %>
    <% end %>
  </fieldset>
<% end %>

<% if investment.should_show_price_explanation? %>
  <h2 id="price_explanation" data-magellan-target="price_explanation">
    <%= t("budgets.investments.show.price_explanation") %>
  </h2>
  <p><%= investment.price_explanation %></p>
<% end %>

<% if local_assigns[:preview].nil? %>
  <%#= render "relationable/related_content", relationable: investment %>

  <div class="js-moderator-investment-actions margin">
    <%= render "budgets/investments/actions", investment: investment %>
  </div>
<% end %>
