<%= render "shared/globalize_locales", resource: @question %>

<%= translatable_form_for(@question, url: form_url) do |f| %>

  <%= render "shared/errors", resource: @question %>

  <%= f.hidden_field :proposal_id %>

  <div class="row">
    <div class="small-12">
      <% if @poll.present? %>
        <%= f.hidden_field :poll_id, value: @poll.id %>
      <% elsif @question.poll.present? %>
        <%= f.hidden_field :poll_id, value: @question.poll.id %>
      <% else %>
        <div class="small-12 medium-6 large-4 column">
          <% select_options = Poll.all.map { |p| [p.name, p.id] } %>
          <%= f.select :poll_id,
                        options_for_select(select_options),
                        prompt: t("admin.questions.index.select_poll") %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= f.translatable_fields do |translations_form| %>
      <div class="column">
        <%= translations_form.text_field :title %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% if @poll.present? %>
      <div class="small-12 medium-4 column">
        <%= f.number_field :votes_per_question, min: 1, max: 50 %>
      </div>
      <div class="small-12 medium-4 column">
        <%= f.number_field :winners_amount, min: 1, max: 50 %>
      </div>
      <% category_options = @poll.category_options %>
      <% if @poll.electoral_college_restricted? && category_options.any? %>
        <div class="small-12 medium-4 column">
          <%= f.select :category, category_options, include_blank: true %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="small-12 medium-4 large-2 margin-top column">
      <%= f.submit(class: "button success expanded", value: t("shared.save")) %>
    </div>
  </div>

<% end %>
