<footer>
  <div class="row padding-top padding-bottom">
    <div class="small-4 large-2 column">
      <div class="governo-aberto-logo footer-logos"></div>
    </div>

    <div class="small-8 large-3 column">
      <div class="sao-paulo-logo footer-logos"></div>
    </div>

    <div class="small-12 medium-7 large-4 column responsible">
      <p class="responsible info-footer-margin">
        <%= sanitize(t("layouts.footer.responsible")) %>
      </p>
      <p class="responsible-address info-footer-margin">
        <%= t("layouts.footer.responsible_address") %>
      </p>
    </div>

    <div class="small-12 medium-5 large-3 column contact-footer">
      <p class="org-mail info-footer-margin"><%= setting["mailer_from_address"] %></p>
      <ul class="social-networks">
        <% if setting["facebook_handle"] %>
          <li class="inline-block info-footer-margin">
            <%= link_to "https://www.facebook.com/#{setting["facebook_handle"]}/", target: "_blank",
                        title: t("shared.go_to_page") + t("social.facebook", org: setting["org_name"]) + t("shared.target_blank") do %>
                        <span class="show-for-sr"><%= t("social.facebook", org: setting["org_name"]) %></span>
                        <span class="icon-facebook" aria-hidden="true"></span>
            <% end %>
          </li>
        <% end %>
        <% if setting["instagram_handle"] %>
          <li class="inline-block">
            <%= link_to "https://www.instagram.com/#{setting["instagram_handle"]}", target: "_blank",
                        title: t("shared.go_to_page") + t("social.instagram", org: setting["org_name"]) + t("shared.target_blank") do %>
                        <span class="show-for-sr"><%= t("social.instagram", org: setting["org_name"]) %></span>
                        <span class="icon-instagram" aria-hidden="true"></span>
            <% end %>
          </li>
        <% end %>
        <li class="inline-block at-org">
          <%= t("layouts.footer.at_org") %>
        </li>
      </ul>
    </div>
  </div>

  <div class="subfooter row">
    <div class="small-12 large-8 column">
      <%= sanitize(t(
        "layouts.footer.copyright",
        org_name: setting["org_name"],
        year: Time.current.year,
        open_source: link_to(
          t("layouts.footer.open_source"),
          t("layouts.footer.open_source_url"),
          target: "blank",
          rel: "nofollow"
        ),
        consul:  link_to(
          t("layouts.footer.consul"),
          t("layouts.footer.consul_url"),
          target: "blank",
          rel: "nofollow"
        )
      )) %>&nbsp;| <%= sanitize(t(
        "layouts.footer.transparency_text",
        transparency: link_to(
          t("layouts.footer.transparency"),
          t("layouts.footer.transparency_url"),
          target: "blank",
          rel: "nofollow"
        )
      )) %>
    </div>
    <div class="small-12 large-4 column">
      <ul class="no-bullet inline-block float-right">
        <li class="inline-block"><%= link_to t("layouts.footer.privacy"), page_path("privacy") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.conditions"), page_path("conditions") %>&nbsp;|</li>
        <li class="inline-block"><%= link_to t("layouts.footer.accessibility"), page_path("accessibility") %></li>
      </ul>
    </div>
  </div>
</footer>
