<h2 class="inline-block">
  <%= t("admin.legislation.topic_levels.index.title") %>
</h2>

<%= link_to(
  t("admin.legislation.topic_levels.index.new_topic_level"),
  new_admin_legislation_process_topic_level_path,
  class: "button float-right margin-right"
) %>

<% if @topic_levels.any? %>
  <table>
    <thead>
      <tr>
        <th><%= t("admin.legislation.topic_levels.index.topic_level_label") %></th>
        <th><%= t("admin.legislation.topic_levels.index.title") %></th>
        <th><%= t("admin.legislation.topic_levels.index.table_actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @topic_levels.each do |topic_level| %>
        <tr id="<%= dom_id(topic_level) %>" class="legislation_topic_level">
          <td><strong><%= topic_level.topic_level_label %></strong></td>
          <td><%= topic_level.title %></td>
          <td>
            <%= link_to(
              t("admin.topic_levels.index.edit"),
              edit_admin_legislation_process_topic_level_path(@process, topic_level),
              class: "button hollow"
            ) %>
            <% if topic_level == @topic_levels.last %>
              <%= link_to(
                t("admin.topic_levels.index.delete"),
                admin_legislation_process_topic_level_path(@process, topic_level),
                method: :delete,
                class: "button hollow alert"
              ) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div data-alert class="callout warning margin-top clear">
    <%= t("admin.legislation.topic_levels.index.empty_topic_levels") %>
  </div>
<% end %>
