

<h4><%= "#{topic_level_label(indexes)} #{topic.title}" %></h4>

<%= link_to(
  t("admin.legislation.topics.index.edit"),
  edit_admin_legislation_process_topic_path(@process, topic),
  class: "hollow"
) %>

<%= link_to(
  t("admin.legislation.topics.index.delete"),
  admin_legislation_process_topic_path(@process, topic),
  method: :delete,
  class: "alert",
  data: delete_topic_confirmation(topic)
) %>

<% if topic.evaluable? %>
  <p>Total de votos: <%= topic.topic_votes_count %></p>
<% end %>

<% if topic.description.present? %>
  <p><%= topic.description %></p>
<% end %>

<% topic.assessments.each do |assessment| %>
  <p class="no-margin-bottom"><%= "#{assessment.title} (#{assessment.topic_votes_count})" %></p>
<% end %>

<% if topic.evaluable? %>
  <p>Sugestões: <%= topic.comments_count %></p>
<% end %>

<% unless counter_level == @topic_levels.size %>
  <% topic_level = @topic_levels[counter_level] %>
  <%= link_to(
    t(
      "admin.legislation.topics.index.new_topic",
      title: topic_level.downcase_title
    ),
    new_admin_legislation_process_topic_path(
      legislation_topic: {
        legislation_topic_level_id: topic_level.id,
        parent_id: topic.id
      }
    ),
    class: "button float-right margin-right"
  ) %>
<% end %>

<% if topic.children.any? %>
  <% counter_level += 1 %>
  <% topic.ordered_children.each.with_index(1) do |child, index| %>
    <%= render 'topic',
      topic: child,
      indexes: topic_indexes(indexes, index, counter_level),
      counter_level: counter_level
    %>
  <% end %>
<% end %>
